
/*FOOTER*/

.footer {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: rgb(236, 236, 236);
    //grid-area: footer;
    h4 {
        font-size: 15px;
    }

}

.socialMedia {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.socialMedia a {
    text-decoration: none;
    color: rgb(117, 171, 221);
}




/*PÁGINA PROCESOS*/

.rellenoProceso {
    background-image: url(../multimedia/20210204_211352.jpg);
    background-position: center center;
    background-size: cover;
    width: auto;
    height: 100vh;
}

.rellenoProceso h1 {
    text-align: center;
    text-transform: uppercase;
    /*Utilizamos MAYÚSCULA*/
    font-size: 21px;
    /*tamaño de la fuente */
    font-weight: 800;
    /*LE DA MÁS GROSOR UPPERCASE*/
    color: black;
}