@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url(c:\Users\evari\Documentos\Desarrolloweb-Clasesydocumentos\DesarrolloWeb\bootstrap\css\bootstrap.css);
.formContact {
  /*DIV*/
  width: 100%;
  height: 100vh;
  background-image: url(../multimedia/contacto.jpg);
  background-position: center center;
  /*bgp toma dos valores, horizontal y vertical*/
  background-size: cover;
  /*de esta manera la imagen se amolda en tamaño de nuestra pantalla*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.contacto {
  /*FORMULARIO CONTACTO*/
  margin: 0 auto;
  background-color: rgba(250, 240, 250, 0.2);
  background-position: center;
  border-radius: 5px;
  width: 65vh;
  height: autovh;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 10, 0, 0.4);
          box-shadow: 0px 0px 16px 0px rgba(0, 10, 0, 0.4);
  /*Sombreado a la caja*/
}

.contacto_fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-style: none;
  font-size: 20px;
  /*la propiedad de focus es para cuando un elemento está seleccionado para estcribir*/
  /*de esta manera eliminamos la marcación en negro que se activa alrededos de la caja seleccionada*/
  /*Con Resize eliminamos la opción de modificar el tamaño del textarea por parte del usuario*/
}

.contacto_fieldset .contacto_fieldset-input,
.contacto_fieldset .contacto_fieldset-textarea {
  margin: 10px 0;
  padding: 6px;
  border: none;
  border-radius: 5px;
  border-bottom: 1px brown;
}

.contacto_fieldset .contacto_fieldset-textarea:focus
.contacto_fieldset-input:focus {
  outline: none;
}

.contacto_fieldset .contacto_textarea {
  resize: none;
}

.formContact .input:hover {
  color: white;
  background-color: brown;
}

/*==PÁGINA DATA: Separación y orden de cajas pc ==*/
/*ESTILO DE DATA CON GRID*/
/*se aplica como alternativo ya que está linkeado con Bootstrap*/
.recomendiciónPc {
  margin: 10px;
  padding: 10px;
}

.recomendaciónPc h2 {
  padding: 20px 25p;
  margin: 35px;
  color: black;
}

img {
  width: 100%;
  /* need to overwrite inline dimensions */
  height: auto;
}

h2 {
  margin-bottom: .5em;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
}

/*+++  Estilo del Hover  +++*/
.pc-recomendada {
  position: relative;
  font-size: 10px;
}

.pcImage {
  line-height: 0;
  overflow: hidden;
}

.pcImage img {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-transition: -webkit-filter 0.3s ease-in;
  transition: -webkit-filter 0.3s ease-in;
  transition: filter 0.3s ease-in;
  transition: filter 0.3s ease-in, -webkit-filter 0.3s ease-in;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.dataPc {
  font-size: 7px;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  background: rgba(167, 227, 231, 0.418);
  color: white;
  /* para que la posición del texto esté centrada en el medio*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pc-recomendada:hover .dataPc {
  opacity: 1;
}

.pc-recomendada:hover .pcImage img {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.pc-recomendada:hover .dataPc {
  -webkit-transition: 3s;
  transition: 3s;
  font-size: 0.5rem;
}

/*+++++ ++++++++ para pantallas táctiles  +++++++ +++++++ */
@media (hover: none) {
  .dataPc {
    opacity: 0.5;
  }
  .pcImage img {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
}

/*FOOTER*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 10px;
  background-color: whitesmoke;
  grid-area: footer;
}

.socialMedia {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.socialMedia a {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: burlywood;
}

/*PÁGINA PROCESOS*/
.rellenoProceso {
  background-image: url(../multimedia/20210204_211352.jpg);
  background-position: center center;
  background-size: cover;
  width: auto;
  height: 100vh;
}

.rellenoProceso h1 {
  text-align: center;
  text-transform: uppercase;
  /*Utilizamos MAYÚSCULA*/
  font-size: 21px;
  /*tamaño de la fuente */
  font-weight: 800;
  /*LE DA MÁS GROSOR UPPERCASE*/
  color: black;
}

.rellenoProceso {
  background-image: url(../multimedia/20210204_211352.jpg);
  background-position: center center;
  background-size: cover;
  width: auto;
  height: 100vh;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}

.rellenoProceso .rellenoProceso_contenido {
  text-align: center;
  text-transform: uppercase;
  /*Utilizamos MAYÚSCULA*/
  font-size: 21px;
  /*tamaño de la fuente */
  font-weight: 650;
  /*LE DA MÁS GROSOR UPPERCASE*/
  font-family: 'Acme', sans-serif;
  color: rgba(71, 100, 99, 0.445);
}

.rellenoProceso .rellenoProceso_contenido .rellenoProceso-index {
  text-decoration: none;
}

.rellenoProceso .rellenoProceso_contenido .rellenoProceso-index:hover {
  color: rgba(81, 133, 130, 0.445);
  font-family: arial;
  text-decoration: none;
}

.rellenoProceso .rellenoProceso_contenido .rellenoProceso-index:visited {
  color: #b35858;
  font-family: arial;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Zilla Slab', serif;
}

/*MAIN*/
.imgIndex {
  background-image: url(../multimedia/20210111_185121.jpg);
  width: 100%;
  height: 500px;
  background-position: center center;
  /*bgp toma dos valores, horizontal y vertical*/
  background-size: cover;
  /*de esta manera la imagen se amolda en tamaño de nuestra pantalla*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imgIndex .imgIndex_comentario {
  font-size: 19px;
  text-transform: uppercase;
  font-weight: 750;
  color: darkkhaki;
  max-width: 500px;
  /*ancho máximo*/
  /*lo mejor es en px y no en % ya que no se desparrama el texto de manera desprolija*/
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  /*de esta manera me utilizo automáticamente según pantalla una medida igual en ambos costados*/
}

/*clase etiqueta de contenido reutilizable para varias section de nuestro sitio*/
.historia_comentario {
  font-size: 25px;
  margin-bottom: 16px;
  text-align: center;
}

.parrafoIndex-coder:link {
  color: black;
  text-decoration: none;
}

.parrafoIndex-coder:hover {
  color: black;
  font-family: arial;
  text-decoration: none;
}

.parrafoIndex-coder:visited {
  color: #754b4b;
  font-family: arial;
  text-decoration: none;
}

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}
/*# sourceMappingURL=estyle.css.map */