@import "contacto";
@import "data";
@import "footer";


/*MAIN*/

.imgIndex {
    background-image: url(../multimedia/20210111_185121.jpg);
    width: 100%;
    height: 500px;
    background-position: center center;
    /*bgp toma dos valores, horizontal y vertical*/
    background-size: cover;
    /*de esta manera la imagen se amolda en tamaño de nuestra pantalla*/

    display: flex;
    justify-content: center;
    align-items: center;
}

.imgIndex h2 {
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 750;
    color: darkkhaki;
    max-width: 500px;
    /*ancho máximo*/
    /*lo mejor es en px y no en % ya que no se desparrama el texto de manera desprolija*/
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    /*de esta manera me utilizo automáticamente según pantalla una medida igual en ambos costados*/
}

/*clase etiqueta de contenido reutilizable para varias section de nuestro sitio*/


.historia h2,
h3 {
    font-size: 25px;
    margin-bottom: 16px;
    text-align: center;
}
.historia p a:link {
    color: black;
    text-decoration: none
}
a:hover { color: black; font-family: arial; text-decoration: none }
a:visited {color: black;  font-family: arial; text-decoration: none }
