* {
    margin: 0%;
    padding: 0;
}



/*AJUSTES GENERALES*/

body {
    font-size: 16px;
}

a {
    list-style: none;
}

li {
    list-style: none;
}

/*HEADER*/ /*elementos del menú original/modificado por navbar de bootstrap*/

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*dirección del flex por defecto horizontal*/
    justify-content: space-between;
    /*etiqueta para ordenar horizontalmente: ordena espacio en cada punta de la caja*/
    align-items: center;
    /*etiqueta para ordenar verticalmente: centra el contenido de la caja de manera proporcional*/
    background-color: whitesmoke;
    height: 8vh;
    /*viewport vista porcentual de la pantalla */
    padding: 10px 10%;
    /*margin-top: ;/*puede ser -top -rigth -bottom -left: se pueden abreviar si es un solo valor aplica a todos, si son dos aplica 1arriba y abajo y 2 a los costados*/
    /*en px es amsoluto en %  es relativo*/
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
    /*Sombreado a la caja*/
    grid-area: header;
}

.header nav {
    width: 50%;
}

/*------------ELEMENTOS DEL MENÚ-------------------*/
.enlacesNav ul {
    display: flex;
    justify-content: space-evenly;
}

.enlacesNav a {
    text-transform: uppercase;
    /*Utilizamos MAYÚSCULA*/
    font-size: 21px;
    /*tamaño de la fuente */
    font-weight: 800;
    /*LE DA MÁS GROSOR UPPERCASE*/
    color: black;
    transition: all 0.7s ease;
    text-decoration: none;
    /*sacamos el subrayado de links */
    display: block;
    /*---------------------agrego block para ejemplo submenú sea de una misma medida -------------------*/
}

.enlacesNav a:hover {
    color: white;
    background-color: orange;
}

.enlacesNav ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}


/* ===== EJEMPLO DE SUBMENÚ ====== */
.submenu {
    position: absolute;
    display: none;
    margin-top: 10px;
}

.submenu a {
    font-size: 15px;
    margin: 3px;
    padding: 3px;
}

.enlacesNav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: orange;
    padding: 0;
}

.enlacesNav ul ul li {
    float: none;
    width: 70px
}

.enlacesNav ul ul a {
    line-height: 100%;
    padding: 10px 15px;
}

/*de esta manera mostramos los ítems del submenú al pasar el mouse por encima*/
.enlacesNav ul li:hover>ul {
    display: block;
}




/*MAIN*/

.imgIndex {
    background-image: url(../multimedia/20210111_185121.jpg);
    width: 100%;
    height: 500px;
    background-position: center center;
    /*bgp toma dos valores, horizontal y vertical*/
    background-size: cover;
    /*de esta manera la imagen se amolda en tamaño de nuestra pantalla*/

    display: flex;
    justify-content: center;
    align-items: center;
}

.imgIndex h3 {
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 750;
    color: darkkhaki;
    max-width: 500px;
    /*ancho máximo*/
    /*lo mejor es en px y no en % ya que no se desparrama el texto de manera desprolija*/
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    /*de esta manera me utilizo automáticamente según pantalla una medida igual en ambos costados*/
}

/*clase etiqueta de contenido reutilizable para varias section de nuestro sitio*/


.historia h1,
h2 {
    font-size: 25px;
    margin-bottom: 16px;
    text-align: center;
}
.historia p a:link {
    color: black;
    text-decoration: none
}
a:hover { color: black; font-family: arial; text-decoration: none }
a:visited {color: black;  font-family: arial; text-decoration: none }




/*==PÁGINA DATA: Separación y orden de cajas pc ==*/


/*ESTO LO PODRÍA HACER UTILIZANDO LA CONFIGURACIÓN DEL HEADER EN EL INICIO, UTILIZANDO FLEXBOX PARA ESPACIAR CORRECTAMENTE LOS ITEM NOTEBOOKS*/
/*.artCompu {
	display: flex;
	justify-content: space-around;

	background-color: rgba(250, 240, 230, .9);
	padding: 30px 20px;	
}

.artCompu article {
	width: 20%;
	text-align: center;
	padding: 10px;
	color: whitesmoke;
	border-radius: 4px;
}

.artCompu article h1 {
	margin-bottom: 12px;
	padding: 8px;
	color: black;
} 	*/

/* === DIV DONDE VAN LAS VENTANAS DE NOTEBOOKS === */


/*ESTILO DE DATA CON GRID*//*se aplica como alternativo ya que está linkeado con Bootstrap*/

.recomendiciónPc {
    margin: 10px;
     padding: 10px
}

.recomendaciónPc h2 {
    padding: 20px 25p;
    margin: 35px;
    color: black;

}


img {
    width: 100%;
    /* need to overwrite inline dimensions */
    height: auto;
}

h2 {
    margin-bottom: .5em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 15px;
}


/* hover styles */
.pc-recomendada {
    position: relative;
    font-size: 10px;
}

.pcImage {
    line-height: 0;
    overflow: hidden;
}

.pcImage img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
}

.dataPc {
    font-size: 7px;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(90, 0, 10, 0.4);
    color: white;

    /* para que la posición del texto esté centrada en el medio*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pc-recomendada:hover .dataPc {
    opacity: 1;
}

.pc-recomendada:hover .pcImage img {
    filter: blur(5px);
}

.pc-recomendada:hover .dataPc {
    transition: 3s;
    font-size: 0.5rem;
}

/*+++++ ++++++++ para pantallas táctiles  +++++++ +++++++ */

@media (hover: none) {
    .dataPc {
        opacity: 1;
    }

    .pcImage img {
        filter: blur(2px);
    }
}







/* ++++++ ++++++   PÁGINA CONTACTO +++++++ +++++++ */




.formContact {
    /*DIV*/
    width: 100%;
    height: 100vh;
    background-image: url(../multimedia/contacto.jpg);
    background-position: center center;
    /*bgp toma dos valores, horizontal y vertical*/
    background-size: cover;
    /*de esta manera la imagen se amolda en tamaño de nuestra pantalla*/

    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 60px;
}


.contacto {
    /*FORMULARIO CONTACTO*/
    margin: 0 auto;
    background-color: rgba(250, 240, 250, 0.2);
    background-position: center;
    border-radius: 5px;
    width: 65vh;
    height: auto;
    padding: 10px;
    box-shadow: 0px 0px 16px 0px rgba(0, 10, 0, 0.4);
    /*Sombreado a la caja*/
}

fieldset {
    display: flex;
    flex-direction: column;
    border-style: none;
    font-size: 20px;

}

.contacto fieldset input,
textarea {
    margin: 10px 0;
    padding: 6px;
    border: none;
    border-radius: 5px;
    border-bottom: 1p brown;
}

/*la propiedad de focus es cuando un elemento está seleccionado para estcribir*/
fieldset input:focus,
textarea:focus {
    outline: none;
}

/*de esta manera eliminamos la marcación en negro que se activa alrededos de la caja seleccionada*/


/*Con Resize eliminamos la opción de modificar el tamaño del textarea por parte del usuario*/
textarea {
    resize: none;
}



/*FOOTER*/

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
  
    grid-area: footer;

}

.socialMedia {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.socialMedia a {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1);

    color: burlywood;
}


.formContact .input:hover {
    color: white;
    background-color: brown;
}





/*PÁGINA PROCESOS*/

.rellenoProceso {
    background-image: url(../multimedia/20210204_211352.jpg);
    background-position: center center;
    background-size: cover;
    width: auto;
    height: 100vh;
}

.rellenoProceso h1 {
    text-align: center;
    text-transform: uppercase;
    /*Utilizamos MAYÚSCULA*/
    font-size: 21px;
    /*tamaño de la fuente */
    font-weight: 800;
    /*LE DA MÁS GROSOR UPPERCASE*/
    color: black;
}










/*+++++ MEDIA QUERYS +++++*/

@media only screen and (max-width: 834px) and (min-width: 360px) {}


@media only screen and (max-width: px) and (min-width: 836px) {}


@media only screen and (max-width: 834px) and (min-width: 360px) {}
